################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/ClassLibraryJson/bin/Debug
/WebApplication/ClassLibraryJson/obj/Debug
/WebApplication/packages
/WebApplication/WebApplication/bin
/WebApplication/WebApplication/obj/Debug
/WebApplication/WebApplication.Tests/bin/Debug
/WebApplication/WebApplication.Tests/obj/Debug
/Controllers/HomeTask/bin
/Controllers/packages
/Controllers/WebApplication/bin
/Controllers/WebApplication/obj/Debug
/Controllers/HomeTask/obj/Debug
/Views/HomeTask/obj/Debug
/Views/HomeTask/bin
/Views/packages
/Views/WebApplication/bin
/Views/WebApplication/obj/Debug
/Controllers/HomeTask/obj/Release
/Controllers/HomeTask_ControllerFactory/bin
/Controllers/HomeTask_ControllerFactory/obj/Debug
