################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/ClassLibraryJson/bin/Debug
/WebApplication/ClassLibraryJson/obj/Debug
/WebApplication/packages
/WebApplication/WebApplication/bin
/WebApplication/WebApplication/obj/Debug
/WebApplication/WebApplication.Tests/bin/Debug
/WebApplication/WebApplication.Tests/obj/Debug
