@model HomeTask.Models.UserModel
@{
    ViewBag.Title = "Person";
}

@section Header{
    @(Model.IsDarkSide ? Html.Partial("_HeaderDarkPartial") : Html.Partial("_HeaderLightPartial"))
}

@section Body{
    @Model.PersonInfo
}

@section Footer{
    <input type="text" value=@Model.IsDarkSide.ToString().ToLower() id="isDarkSide" hidden />

    <div align="center">
        @Html.ActionLink("Change side", "ChangeSide", new { side = Model.IsDarkSide },
        new { @class = "btn btn-default", id = "changeSideButton" })
    </div>
    
}

@section Scripts{
    <script src="~/Scripts/scriptSide.js"></script>
}